.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__title {
    padding-left: 40px;
    color: white;
}

.text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
}

.headerCloseBtn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 35px;
    cursor: pointer;
}

.modal .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: #9f0a0a;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}