.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.App .openFirstModalBtn,
.App .openSecondModalBtn {
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 20px;
    margin-top: 100px;
    min-width: 300px;
    cursor: pointer;
}
